VITE_API_BASE_URL=http://localhost:5000/api
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
VITE_TMDB_ACCESS_TOKEN=your_tmdb_v4_read_access_token
